<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="appsnova.com.mybuydeals">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utilities.VolleySingleton"
        android:allowBackup="true"
        android:appComponentFactory="Whatever"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ShippingAddressActivity"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WishListActivity" />
        <activity android:name=".VendorsListActivity" />
        <activity android:name=".TermsConditionsActivity" />
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".DeliveryAddressActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ProductListActivity" />
        <activity
            android:name=".ProductDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PaymentModesActivity" />
        <activity android:name=".OrderConfirmationActivity" />
        <activity android:name=".FullScreenViewActivity" />
        <activity android:name=".CreateOrderActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".AllSubCategoriesActivity" />
        <activity android:name=".AllCategoriesActivity" />
        <activity android:name=".EnquirePageActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/fullScreenTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>